[Unit]
Description=Node.js WebSocket Server
After=network.target

[Service]
# Environment=NODE_PORT=3001
Environment=MONGO_PASSWORD=
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/repo/backend
ExecStart=/home/ubuntu/.nvm/versions/node/v21.7.3/bin/node /home/ubuntu/repo/backend/ws-server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
