// GLOBAL STYLES
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

p {                   // плохо, но удобно
  margin: 0;
}

button {
  cursor: pointer;
}

ul {                // плохо, но удобно (сброс стилей списков)
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d1bc82;
}

.container {
  padding: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  &--hidden {
    display: none;
  }
}

// _______________________
// VARIABLES
$little-gap: 20px;
$middle-gap: 30px;
$big-gap: 40px;


// _______________________
// BEM STYLES
.monopoly__container {            // самый родительский блок
  display: flex;
  gap: $big-gap;
  justify-content: center;
  height: 100vh;
}

.monopoly__players {               // список игроков
  flex-shrink: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $little-gap;

  height: 100%;
}

.player {                          // игрок (карточка)
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);


  &__person-info {                // информация об игроке
    display: flex;
    justify-items: center;
    justify-content: space-around;
    gap: 20px;

    margin: 0;
    margin-bottom: 25px;
  }

  &__name {                      // имя игрока
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
  }

  &__money-info {
    display: flex;
    gap: 10px;
    align-items: center;

    width: fit-content;
    margin: 0 auto;

    font-size: 28px;
  }

  &__money-icon {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../images/icons/money.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__balance-value {
    width: 150px;
    height: 50px;
    margin: 0;
    padding: 10px;

    text-align: center;
    font-size: 28px;
    border: 0;
    border-radius: 10px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}




.monopoly__zone-wrapper {            // обертка для зоны
  position: relative;
  flex-shrink: 0;
}

.monopoly__zone-img {               // изображение зоны
  height: 100%;
  object-fit: contain;
  background-color: red;
  border-radius: 10px;
}

.table {                            // внутренняя сетка поля
  z-index: 2;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 179fr 837fr 186fr;

  &__row--middle {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
  }

  &__row--outside {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  &__column--outside {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  }
}


.zone-interface {
  position: relative;

  &__dice-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 2%;

    border-radius: 15px;
    background-color: #9c7b55;
    box-shadow: 5px 5px 11px black;
  }

  &__dice-result {
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__dice {
    width: 150px;
    height: 120px;
    padding: 0;

    appearance: none;
    border: 0;

    background-image: url("../images/icons/dice.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: 0.08s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }

  }
}


// _______________________ ЛЕВОЕ МЕНЮ
.interface {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);


  &__menu {
    display: flex;
    gap: 10px;
  }

  &__button {                           // кнопки меню
    width: 70px;
    height: 70px;
    padding: 10px;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }


    &--rules {
      background-image: url("../images/icons/rules-button.png");
    }

    &--reset {
      background-image: url("../images/icons/reset-button.png");
    }
  }

  &__chips {                              // фишки
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;

    li {
      position: relative;
      width: 50px;
      height: 50px;
    }
  }

  &__chip {                                // фишка
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }

    &--cat {
      background-image: url("../images/icons/cat-chip.png");
    }

    &--dog {
      background-image: url("../images/icons/dog-chip.png");
    }

    &--dino {
      background-image: url("../images/icons/dino-chip.png");
    }

    &--racer {
      background-image: url("../images/icons/racer-chip.png");
    }
  }



  &__cards {                    // карточки
    display: grid;
    gap: 10px;
    width: 100%;
  }

  &__card {                     // карточка
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #9c7b55;

    &-title {
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
    }

    &-text {
      width: 100%;
      padding: 5px;
      font-size: 16px;
      text-align: center;
      border: 0;
      border-radius: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      transition: 0.1s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__card-select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    appearance: none;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.1s;

    option {
      background-color: #9c7b55;
    }

    &:hover,
    &:focus-visible {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }


  &__building-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
    width: 100%;
  }

  &__house-item {
    position: relative;
    width: 20px;
    height: 20px;
  }

  &__house {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 0;
    background-color: transparent;
    background-image: url("../images/icons/house-button.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: 0.1s;

    &:hover {
      transform: scale(1.3);
    }

    &:active {
      transform: scale(1.2);
    }
  }


  &__hotel-item {
    position: relative;
    width: 30px;
    height: 30px;
  }

  &__hotel {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    background-image: url("../images/icons/hotel-button.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: 0.1s;

    &:hover {
      transform: scale(1.3);
    }

    &:active {
      transform: scale(1.2);
    }
  }
}


//________________________ Доп инфа клеток
.cell {                       // сетка внутри клетки
  position: relative;
  display: grid;

  &--top {
    grid-template-rows: 3.5fr 1fr;
  }

  &--bottom {
    grid-template-rows: 1fr 3.5fr;
  }

  &--left {
    grid-template-columns: 3.5fr 1fr;
  }

  &--right {
    grid-template-columns: 1fr 3.5fr;
  }


  &__color {                   // цвет клетки, checkbox
    appearance: none;
    transition: 0.15s;
    cursor: pointer;

    &--brown {
      &:checked {
        box-shadow: 0 0 20px 5px #7f3300;
      }
      &:hover {
        box-shadow: 0 0 20px 2px #7f3300;
      }
      &:active {
        box-shadow: 0 0 20px #7f3300;
      }
    }

    &--white {
      &:checked {
        box-shadow: 0 0 20px 5px #aff3ff;
      }
      &:hover {
        box-shadow: 0 0 20px 2px #aff3ff;
      }
      &:active {
        box-shadow: 0 0 20px #aff3ff;
      }
    }

    &--purple {
      &:checked {
        box-shadow: 0 0 20px 5px #c170ff;
      }
      &:hover {
        box-shadow: 0 0 20px 2px #c170ff;
      }
      &:active {
        box-shadow: 0 0 20px #c170ff;
      }
    }

    &--orange {
      &:checked {
        box-shadow: 0 0 20px 5px #ff6a00;
      }
      &:hover {
        box-shadow: 0 0 20px 2px #ff6a00;
      }
      &:active {
        box-shadow: 0 0 20px #ff6a00;
      }
    }

    &--red {
      &:checked {
        box-shadow: 0 0 20px 5px #ff0008;
      }
      &:hover {
        box-shadow: 0 0 20px 2px #ff0008;
      }
      &:active {
        box-shadow: 0 0 20px #ff0008;
      }
    }

    &--yellow {
      &:checked {
        box-shadow: 0 0 20px 5px #ffc10a;
      }
      &:hover {
        box-shadow: 0 0 20px 2px #ffc10a;
      }
      &:active {
        box-shadow: 0 0 20px #ffc10a;
      }
    }

    &--green {
      &:checked {
        box-shadow: 0 0 20px 5px #75ff77;
      }
      &:hover {
        box-shadow: 0 0 20px 2px #75ff77;
      }
      &:active {
        box-shadow: 0 0 20px #75ff77;
      }
    }

    &--blue {
      &:checked {
        box-shadow: 0 0 20px 5px #4953ff;
      }
      &:hover {
        box-shadow: 0 0 20px 2px #4953ff;
      }
      &:active {
        box-shadow: 0 0 20px #4953ff;
      }
    }
  }


  &:has(input[type="checkbox"]:checked) .cell__info {      // если чекбокс выбран
    display: block;
  }


  &:has(option[value="cat"]:checked) .cell__card {      // если выбран владелец
    mask-image: url("../images/icons/cat.png");
    background-color: white;
  }
  &:has(option[value="dog"]:checked) .cell__card {
    mask-image: url("../images/icons/dog.png");
    background-color: white;
  }
  &:has(option[value="dino"]:checked) .cell__card {
    mask-image: url("../images/icons/dino.png");
    background-color: white;
  }
  &:has(option[value="racer"]:checked) .cell__card {
    mask-image: url("../images/icons/racer.png");
    background-color: white;
  }

  &__card {
    mask-position: center;
    mask-size: 70%;
    mask-repeat: no-repeat;
    opacity: 0.3;
  }


  &:has(input.cell__color--brown) .cell__info {     // подсветка модалки
    box-shadow: 0 0 20px 5px #7f3300;
  }
  &:has(input.cell__color--white) .cell__info {
    box-shadow: 0 0 20px 5px #aff3ff;
  }
  &:has(input.cell__color--purple) .cell__info {
    box-shadow: 0 0 20px 5px #c170ff;
  }
  &:has(input.cell__color--orange) .cell__info {
    box-shadow: 0 0 20px 5px #ff6a00;
  }
  &:has(input.cell__color--red) .cell__info {
    box-shadow: 0 0 20px 5px #ff0008;
  }
  &:has(input.cell__color--yellow) .cell__info {
    box-shadow: 0 0 20px 5px #ffc10a;
  }
  &:has(input.cell__color--green) .cell__info {
    box-shadow: 0 0 20px 5px #75ff77;
  }
  &:has(input.cell__color--blue) .cell__info {
    box-shadow: 0 0 20px 5px #4953ff;
  }

  &__info {
    z-index: 2;
    position: absolute;

    &--bottom {
      bottom: 110%;
      left: 50%;
      transform: translateX(-50%);
    }

    &--right {
      top: 50%;
      right: 110%;
      transform: translateY(-50%);
    }

    &--left {
      top: 50%;
      left: 110%;
      transform: translateY(-50%);
    }

    &--top {
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
    }

    display: none;
    width: 150%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;

    &-text {
      display: grid;
      gap: 10px;

      span {
        display: flex;
        justify-content: space-between;
      }
    }

    &-building-house {
      border-top: 1px solid white;
      padding-top: 10px;
    }

    &-building-hotel {
      border-bottom: 1px solid white;
      padding-bottom: 10px;
    }

    &-player {
      width: 100%;
      padding: 5px;
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
      appearance: none;
      border: 0;
      border-radius: 10px;
      color: white;
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      transition: 0.1s;

      option {
        background-color: rgba(0, 0, 0, 0.8);
      }

      &:hover,
      &:focus-visible {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

// _______________________
// ' sass --watch ./frontend/styles/styles.scss:./frontend/styles/styles.css ' - команда для автоматической компиляции
