// GLOBAL STYLES
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

p {                   // плохо, но удобно
  margin: 0;
}

button {
  cursor: pointer;
}

ul {                // плохо, но удобно (сброс стилей списков)
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d1bc82;
}

.container {
  padding: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  &--hidden {
    display: none;
  }
}

// _______________________
// VARIABLES
$little-gap: 20px;
$middle-gap: 30px;
$big-gap: 40px;


// _______________________
// BEM STYLES
.monopoly__container {            // самый родительский блок
  display: flex;
  gap: $big-gap;
  justify-content: center;
  height: 100vh;
}

.monopoly__players {               // список игроков
  flex-shrink: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $little-gap;

  height: 100%;
}

.player {                          // игрок (карточка)
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);


  &__person-info {                // информация об игроке
    display: flex;
    justify-items: center;
    justify-content: space-around;

    margin: 0;
    // margin-bottom: 30%;
    padding: 40px;
  }

  &__name {                      // имя игрока
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
  }
}


.monopoly__zone-wrapper {            // обертка для зоны
  position: relative;
  flex-shrink: 0;
}

.monopoly__zone-img {               // изображение зоны
  height: 100%;
  object-fit: contain;
  background-color: red;
  border-radius: 10px;
}

.table {
  z-index: 2;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 179fr 837fr 186fr;

  &__row--middle {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
  }

  &__row--outside {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  &__column--outside {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  }
}

// _______________________
// ' sass --watch ./frontend/styles/styles.scss:./frontend/styles/styles.css ' - команда для автоматической компиляции
