// GLOBAL STYLES
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d1bc82;
}

.container {
  padding: 20px;
}
// _______________________
// BEM STYLES

// _______________________
// ' sass --watch ./styles/styles.scss:./styles/styles.css ' - команда для компиляции
