// GLOBAL STYLES
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d1bc82;
}

.container {
  padding: 20px;
}

// _______________________
// VARIABLES
$cards-white-space: 40px;

// _______________________
// BEM STYLES
.monopoly__container {
  display: flex;
  gap: $cards-white-space;
  justify-content: space-around;
  height: 100vh;
}

.monopoly__players {
  flex-grow: 1;

  display: grid;
  row-gap: $cards-white-space;
}

.monopoly__player {
  display: grid;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.monopoly__zone {
  height: 100%;
  object-fit: contain;
  background-color: red;
}

// _______________________
// ' sass --watch ./styles/styles.scss:./styles/styles.css ' - команда для автоматической компиляции
